<div id="blue-div">
    <div style="margin:auto;margin-bottom:5%" class="col-sm-6">
        <div class="mb-2">
            <!--
            <progressbar style="height: 30px" [value]="22" type="warning" [striped]="true" [animate]="true">22%</progressbar>            
            -->
        </div>
    </div>
<!--    
    <div id="center-large-space">
        <div style="width: 40%;float:right">
            <pre class="card card-block card-header mb-3 center-space-label">12th Percentage:</pre>
            <input class="center-space-input" placeholder="Enter your username" type="text" [formControl]="input3"><br>
            <pre class="card card-block card-header mb-3 center-space-label">IQ:</pre>
            <input class="center-space-input"  [formControl]="input4" type="text" placeholder="Enter your password">
            <pre class="card card-block card-header mb-3 center-space-label">Number of hackathons participated:</pre>
            <input class="center-space-input"  [formControl]="input5" type="text" placeholder="Enter your password again">
            <pre class="card card-block card-header mb-3 center-space-label">Does Competitive Coding?</pre>
            <input class="center-space-input"  [formControl]="input5" type="text" placeholder="Enter your password again">
            <pre class="card card-block card-header mb-3 center-space-label">Number of hackathons participated:</pre>
            <input class="center-space-input"  [formControl]="input5" type="text" placeholder="Enter your password again">
            <button (click)="EnterSignup()" style="float: right" type="button" class="btn btn-primary" >Next</button>
        </div>
    </div>
-->        
</div>